#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #23272f;
}
.game{
  display: flex;
  flex-direction: row;
}
.game-info{
  margin-left: 40px;
  margin-top: 42px;
  font-size: 0.5rem;
}
.board-status{
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
}
.board-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  max-width: min-content;
}
.square {
  border: 2px solid var(--primary-color);
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 70px;
  height: 70px;
  margin-top: -2px;
  margin-right: -2px;
}
.history-button{
  border: 2px solid var(--primary-color);
  background-color: transparent;
  color: var(--alternative-text-color);
  padding: 5px;
}
.special-square{
  color: red;
  background-color: red;
}
