:root{
  --root-background-color: #23272f;
  --primary-color: #3B71CA;
  --secondary-color: #61dafb;
  --text-color: rgb(15,15,15);
  --alternative-text-color: rgb(240,240,240);
  --win-square-color:rgb(255, 215, 0);
  scroll-behavior: smooth;
  color: var(--alternative-text-color);
  font-family: 'Times New Roman', Times, serif;
  font-size: 45px;
}
.container {
  max-width: 1200px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
